{% extends "admin/change_form.html" %}
{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <pre>{{ error_body }}</pre>
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">{{ issue_link }}</div>
{% endblock %}
